---
---

$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #ffffff !default;
$header-bg-color: #e3f2fd !default;
$header-bg-color-secondary: #1e6bb8 !default;

// Text
$section-headings-color: #2196f3 !default;
$body-text-color: #757575 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #757575 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #757575 !default;

// Borders
$border-color: #50555c !default;
$table-border-color: #50555c !default;
$hr-border-color: #50555c !default;

@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

@import "{{ site.theme }}";

body {
  font-family: "Quicksand", sans-serif;
}
